# Visual Studio Files

*.zip
*.suo
.vs
*.VC.db
*.opendb
*.vcxproj.user
*.csproj.user
*.tlog
*.pdb
*.vshost.exe
*.exe.manifest
pythonemcc/bin/Release/**
Bin/**/Microsoft.Build*.dll
Bin/Common/**
obj
Debug
Release
*.sdf
*.opensdf
