version: 1.0.{build}

environment:
  EMSDK: C:\emsdk
  ANDROID_HOME: C:\android-sdk-windows
  ANDROID_NDK_HOME: C:\android-sdk-windows\ndk-bundle
  CLANG_BIN: C:\Libraries\llvm-5.0.0
  MINGW_BIN: C:\mingw-w64\x86_64-6.3.0-posix-seh-rt_v5-rev1
  matrix:
    # Visual Studio 2010
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
      VERSION: vs2010
      DEFINES: VS2010DLL
      PLATFORM: Any CPU
      PROJECT: Source\vs-tool.Build.CPPTasks\vs-tool.Build.CPPTasks.vs2010.csproj
    # Visual Studio 2012
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
      VERSION: vs2012
      DEFINES: VS2012DLL
      PLATFORM: Any CPU
      PROJECT: Source\vs-tool.Build.CPPTasks\vs-tool.Build.CPPTasks.vs2012.csproj
    # Visual Studio 2013
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
      VERSION: vs2013
      DEFINES: VS2013DLL
      PLATFORM: Any CPU
      PROJECT: Source\vs-tool.Build.CPPTasks\vs-tool.Build.CPPTasks.vs2013.csproj
    # Visual Studio 2015
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      VERSION: vs2015
      DEFINES: VS2015DLL
      PLATFORM: Any CPU
      PROJECT: Source\vs-tool.Build.CPPTasks\vs-tool.Build.CPPTasks.vs2015.csproj
    # Visual Studio 2017
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      VERSION: vs2017
      DEFINES: VS2017DLL
      PLATFORM: Any CPU
      PROJECT: Source\vs-tool.Build.CPPTasks\vs-tool.Build.CPPTasks.vs2017.csproj

    # Visual Studio 2010
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
      VERSION: vs2010
      DEFINES: VS2010DLL
      PLATFORM: Emscripten
      PROJECT: Samples\simple\simple.vs2010.vcxproj
    # Visual Studio 2012
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
      VERSION: vs2012
      DEFINES: VS2012DLL
      PLATFORM: Emscripten
      PROJECT: Samples\simple\simple.vs202.vcxproj
    # Visual Studio 2013
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
      VERSION: vs2013
      DEFINES: VS2013DLL
      PLATFORM: Emscripten
      PROJECT: Samples\simple\simple.vs2013.vcxproj
    # Visual Studio 2015
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      VERSION: vs2015
      DEFINES: VS2015DLL
      PLATFORM: Emscripten
      PROJECT: Samples\simple\simple.vs2015.vcxproj
    # Visual Studio 2017
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      VERSION: vs2017
      DEFINES: VS2017DLL
      PLATFORM: Emscripten
      PROJECT: Samples\simple\simple.vs2017.vcxproj

clone_folder: c:\projects\vs-tool

configuration:
  - Release

install:
  - ps: .\Scripts\ci_appveyor_install.ps1
  - cmd: .\Scripts\ci_appveyor_install.cmd

before_build:
  # Not necessary at the moment but adding for good measure
  - nuget restore Workspace\vs-tool.%VERSION%.sln

build_script:
  - msbuild %PROJECT% /property:Configuration=Release /p:Platform="%PLATFORM%" /p:DefineConstants="%DEFINES%" /t:Clean,Build

after_test:
   -